.wrapper {
  display: grid;
  grid-row-gap: 5px;
  align-content: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "... header ..."
                       "... content ..."
                       "... footer ...";
}

li {
  display: inline;
}

li a {
  padding: 14px 16px;
}

footer {
  grid-area: footer;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: header;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: content;
  text-align: center;
}

.avatar-container {
  height: 220px;
  width: 220px;
}

.avatar-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
